<head></head>
<link rel="stylesheet" type="text/css" href="chainprowire.css" />
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css" />
</head>

<body>
  <div class="wrapper">

    <div class="header">
      <div class="logo">ChainPro</div>

      <div id="address" class="account"
        onclick="navigator.clipboard.writeText(this.innerText);logthis('Address copied');">Account</div>
    </div>
    <div class="subheader">

    </div>
    <div id="msgarea" class="msgarea" onclick="toggleLog();">
      <div class="lastmsg" id="lastmsg"></div>
    </div>
    <div class="msglog" id="msglog" onclick="toggleLog();"></div>
    <div class="left_menu">

      <div class="ng1" onclick="location.assign('#documentation')">Documentation</div>
      <div class="ng1" onclick="toggleLog()">Status log</div>
      <div class="ng1">Create new account</div>
      <div class="ng1">Fund account</div>
      <div class="ng1">Delete account</div>
      <div class="ng1" onclick="downloadTree()">Download tree</div>
      <div class="ng1" onclick="chooseFile()">Import tree</div>
      <div class="ng1">Paramenters</div>
    </div>
    <div class="demo" id="demo">
      <div class="warning">
        You have to provide your 12 words here. Use a test one !
      </div>
      <input type="text" class="input" id="phrase"
        value="range ankle neither across hockey seminar express soul clean brass say priority"></input>
      <p></p>
      <item class="item" :model="treeData">
      </item>
    </div>
    <div class="instructions">
      <div>
        <!--i class="feather icon-bell"></i -->
        <h4 align=center> Instructions :)</h4>
        <ul>
          <li>Double click on an item to turn it into a folder</li>
          <li>Use the <i class='feather icon-plus'></i> sign to add items</b-list-group-item>
          <li>Use the <i class='feather icon-delete'></i> sign to delete an item</li>
          <li>Use the <i class='feather icon-eye'></i> sign to un-delete an item</li>
          <li>Use the &#x20BF; sign to change &#x20BF;udget anywhere</li>
        </ul>
      </div>
    </div>
    <div id="import" class="import">
      <input type="file" id="selectFiles" value="Import" />
      <button id="import" onclick="importFile()">Import</button>
      <textarea id="result" rows="40" cols="70">

      </textarea>
    </div>
    <div class="footer">footer</div>

  </div>
  <div id="documentation">
    <h2>ChainPro - Onchain Project Budgeting Tool</h2>
    Branch ethconcept - uses Ethereum compatible sidechain as backbone for budget finance
    ChainPro enables creation of budget trees like the one that shows below.
    It allows the definition of the budget at any level of the tree and the
    allocation of budget using hyerarchical deterministic addresses.
    This allows any organization to use a virtual currency to distribute Budget
    and empower those with budget responsibilities to transfer it.
    <P>
      Using any blockchain that supports hyerarchical deterministic wallets You
      can monitor budget allocation in real time, as well as budget expenditure.
    <P>
      Any budget owner can use an ethereum compatible wallet to make payments to
      other people in the organization. This can be easily monitored by all upper
      levels in the hirarchy.
    <P>
      Suppose you are a CEO of a company and have three departments under your
      responsability, Marketing, run by the Chief Marketing Officer, Operations,
      run by the Chief Operations Officer (COO) and the finance department, run
      by your Chief Operating Officer (CFO)
    <p>
      At the beginning of the period you make payments to each of them for the
      amount that you decide they should spend. Each of them can then talk to their
      direct reports and distribute this amount or part of it, among then so they
      can use it to pay their teams.
    <p>
      <img src=https://docs.oracle.com/cd/A60725_05/html/comnls/us/gl/image003.gif>

  </div>
</body>
<script type="text/x-template" id="item-template">

  <li>
    <span class="node" 
      v-html="isFolder ? featherIcons.FOLDER : deleted ? featherIcons.DELETE: featherIcons.X_CIRCLE "
      @click="open ? null : model.deleted=true">
    </span>

    <span
      :class="{bold: isFolder}"
      @click="toggle"
      @dblclick="changeType">
      
      <span class="node" v-if="model.name!='new stuff'">
        
        <span class="nodename">
          {{model.name}} 
        </span>

        <span class="address" onclick="navigator.clipboard.writeText(this.innerText);logthis('Copied '+ this.innerText);">
        0x{{model.ethAddress}} 
        </span>
        
        <span class="path">
          {{model.path}}
        </span> 

        <span class="status">
          {{model.status}} {{balanceString}} 
        </span>

      </span>
      <span class="node" v-else>
        <input placeholder="Provide a name" type=text
               @change="rename">
        </input>
        {{shortAddress}} {{model.path}} 
      </span>

      <!-- Show a nicer icon here -->
      <span class="node" v-if="isFolder"
            v-html="open ? featherIcons.LEFT : featherIcons.RIGHT"></span>
    </span>
    <ul v-show="open" v-if="isFolder">
      <item
        class="item"
        v-for="(model, index) in model.children"        
        :key="index"
        :model="model">
      </item>
      <li class="add node"
          @click="addChild"
          v-html="featherIcons.PLUS">
      </li>
    </ul>
  </li>

  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1-rc.2/web3.min.js"
  integrity="sha512-KURAVUCRxZKDemghhiNqTnYzVPUtO3GYznBZRWRBT2GJJ5PmePAxfO7QMGCM8xUJ0QfrUYJDrtRJM4L4NOtfow=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src=myBitcoinjs/bip32.js></script>
<script src=myBitcoinjs/bip39.js></script>
<script src=myBitcoinjs/js-sha3.js></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="chainpro.js"> </script>
<!-- Crypto Imports and my own imports until end of body-->

<script>

</script>
<script src="crypfin.js"> </script>